__pycache__
.idea
*.log
.vscode
zsh/zhistory
temp
fcitx/dbus
fcitx5/rime/user.yaml
fcitx5/rime/build
fcitx5/rime/sync
fcitx5/rime/luna_pinyin.userdb
fcitx5/rime/rime_ice.userdb

scripts/utils/reset_navicat.json

mpv/watch_later
mpd/mpdstate
mpd/mpd.db
mpv/scripts/mpvremote
