.music {
  .song_cover_art {
    background-size: cover;
    background-position: center;
    min-height: 24px;
    min-width: 24px;
    margin: 10px;
    border-radius: 100%;
    border: 1px solid #cecacd;
  }

  .song {
    color: #cecacd;
    font-size: 18px;
    font-weight: bold;
    margin: 3px 5px 0px 5px;
  }
  .song-pause {
    color: #fecf25;
  }
  .song_btn {
    color: #f4ede8;
    font-size: 22px;
    label {
      margin: 0 5px;
    }
  }
  .song_btn:hover {
    color: #4fe5fc;
  }
  .song_btn_play {
    font-size: 28px;
  }
  .song_title {
    font-size: 18px;
  }
}
