@import "bar/left.scss";
@import "bar/center.scss";
@import "bar/right.scss";

* {
  all: unset;
  font-family: feather, Maple Mono SC NF;
}

/** General **/
.bar_class {
  background-color: rgba(27, 26, 39, 0.8);
  border-radius: 20px;
  margin-bottom: 6px;
}

.module {
  margin: 0px 0px 0px 0px;
  border-radius: 10px 16px 0px 10px;
}

.separ {
  color: #726f6f;
  font-weight: bold;
  font-size: 22px;
  margin: 0px 8px 0px 8px;
}

tooltip.background {
  background-color: rgba(27, 26, 39, 0.95);
  font-size: 18;
  border-radius: 10px;
  color: #cecacd;
}

tooltip label {
  margin: 6px;
}

scale trough {
  all: unset;
  background-color: #22242b;
  box-shadow: 0 2px 3px 2px #06060b;
  border-radius: 16px;
  min-height: 10px;
  min-width: 70px;
  margin: 0px 10px 0px 0px;
}
